.wr-descr {
    padding: 20px;
}

.wr-descr h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.wr-descr p {
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}